body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(238, 198, 137, 0.766);
    color:rgb(236, 11, 11)
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color:rgb(245, 151, 252) ;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color:rgb(5, 5, 5);
    background-color:rgb(198, 105, 198);
}

fieldset{
    border-color: rgb(255, 0, 0) ;
}
button:hover{
    background-color:yellow;
}
